Repository 56kyle/robust-python-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-lint, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-lint:
  name: Ruff Lint
  entry: ruff check
  language: system
  require_serial: true
  args:
  - --fix

ruff-format:
  name: Ruff Format
  entry: ruff format
  language: system
  require_serial: true

chore: testing out pre commit hooks
  .pre-commit-config.yaml
  build/lib/robust_python_demo/__init__.py
  build/lib/robust_python_demo/__main__.py
  build/lib/robust_python_demo/py.typed
Due: check-yaml, ruff-lint, ruff-format

feat: run pre-commit autoupdate
  .pre-commit-config.yaml
Due: check-yaml

chore: bulk update to try adding back in cruft
  .cookiecutter.json
  .cruft.json
  .editorconfig
  .github/workflows/test-python.yml
  .pre-commit-config.yaml
  noxfile.py
Due: check-yaml, ruff-lint, ruff-format

chore: bulk update to try adding back in cruft
  .cookiecutter.json
  .cruft.json
  .gitignore
Due: none

chore: manually run cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/build-python.yml
  .github/workflows/bump-version.yml
  .github/workflows/docs-build.yml
  .github/workflows/lint-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/security-python.yml
  .github/workflows/test-python.yml
  .github/workflows/typecheck-python.yml
Due: check-yaml

chore: manually run cruft update
  .cookiecutter.json
  .cruft.json
Due: none

chore: manually run cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/release-python.yml
  .github/workflows/security-python.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, ruff-lint, ruff-format

chore: manually run cruft update
  .cookiecutter.json
  .cruft.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: manually run cruft update
  .cookiecutter.json
  .cruft.json
  .cz.toml
Due: check-toml

chore: manual cruft update
  .cookiecutter.json
  noxfile.py
Due: ruff-lint, ruff-format

chore: manual cruft update
  .cruft.json
Due: none

feat: remove unneeded python venvs from noxfile.py
  noxfile.py
Due: ruff-lint, ruff-format

chore: manual cruft update
  .cookiecutter.json
Due: none

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .pre-commit-config.yaml
Due: check-yaml

feat: initial commit
  .pre-commit-config.yaml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  noxfile.py
  scripts/prepare-release.py
  scripts/util.py
Due: ruff-lint, ruff-format

chore: sync up with straight project generation to remove artifacts from commit hooks when meaning to just do cruft update previously
  .github/workflows/release-python.yml
  .pre-commit-config.yaml
  noxfile.py
Due: check-yaml, ruff-lint, ruff-format

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/test-python.yml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .github/workflows/build-python.yml
  .github/workflows/docs-build.yml
  .github/workflows/lint-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/release-python.yml
  .github/workflows/security-python.yml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/build-python.yml
  .github/workflows/docs-build.yml
  .github/workflows/lint-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/release-python.yml
  .github/workflows/security-python.yml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
Due: none

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/docs-build.yml
  .github/workflows/lint-global.yml
  .github/workflows/lint-python.yml
  .github/workflows/release-python.yml
  .github/workflows/security-python.yml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/lint-global.yml
  .github/workflows/test-python.yml
  .github/workflows/typecheck-python.yml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/typecheck-python.yml
Due: check-yaml

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  noxfile.py
Due: ruff-lint, ruff-format

chore: manual cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/typecheck-python.yml
  noxfile.py
Due: check-yaml, ruff-lint, ruff-format

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/release-python.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/typecheck-python.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  noxfile.py
Due: ruff-lint, ruff-format

fix: fix path syntax in build-python.yml
  .github/workflows/build-python.yml
Due: check-yaml

Revert "fix: fix path syntax in build-python.yml"
  .github/workflows/build-python.yml
Due: check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
