Repository 56kyle/robust-python-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com/
default_stages: [pre-commit]

repos:
    - repo: local
      hooks:
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [pre-commit, pre-push, manual]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [pre-commit, pre-push, manual]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.0
      hooks:
          - id: ruff-format
            args: [--config=.ruff.toml]

          - id: ruff-check
            args: [--fix, --diff, --exit-non-zero-on-fix, --config=.ruff.toml]

    - repo: https://github.com/doublify/pre-commit-rust
      rev: v1.0
      hooks:
          - id: fmt
          - id: clippy
            args: ["--all-features", "--", "--write"]
          - id: cargo-check

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.8.3
      hooks:
          - id: commitizen
          - id: commitizen-branch
            stages: [commit-msg]

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/prepare-release.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/release-python.yml
Due: check-yaml

chore: remove accidentally tracked files
  build/lib/robust_python_demo/__init__.py
  build/lib/robust_python_demo/__main__.py
  build/lib/robust_python_demo/py.typed
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/prepare-release.yml
  scripts/util.py
Due: check-yaml

bump: version 0.0.0 → 0.1.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .ruff.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/build-python.yml
  .github/workflows/release-python.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  noxfile.py
Due: none

bump: version 0.1.0 → 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.2.0 → 0.3.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  build/lib/robust_python_demo/__init__.py
  build/lib/robust_python_demo/__main__.py
  build/lib/robust_python_demo/py.typed
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  noxfile.py
  pyproject.toml
Due: check-toml

bump: version 0.3.0 → 0.4.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.4.0 → 0.5.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.5.0 → 0.6.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.6.0 → 0.7.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.7.0 → 0.8.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.8.0 → 0.9.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.9.0 → 0.10.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.10.0 → 0.11.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.11.0 → 0.12.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.12.0 → 0.13.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.13.0 → 0.14.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

bump: version 0.14.0 → 0.15.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/build-docs.yml
  .readthedocs.yml
  noxfile.py
  scripts/setup-remote.py
Due: check-yaml
