Repository 56kyle/robust-python-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com/
default_stages: [pre-commit]

repos:
    - repo: local
      hooks:
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [pre-commit, pre-push, manual]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [pre-commit, pre-push, manual]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.0
      hooks:
          - id: ruff-format
            args: [--config=.ruff.toml]

          - id: ruff-check
            args: [--fix, --diff, --exit-non-zero-on-fix, --config=.ruff.toml]

    - repo: https://github.com/doublify/pre-commit-rust
      rev: v1.0
      hooks:
          - id: fmt
          - id: clippy
            args: ["--all-features", "--", "--write"]
          - id: cargo-check

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.8.3
      hooks:
          - id: commitizen
          - id: commitizen-branch
            stages: [commit-msg]

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/build-python.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/bump-version.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/release-github.yml
  .github/workflows/release-python.yml
  noxfile.py
  scripts/bump-version.py
  scripts/prepare-release.py
  scripts/setup-release.py
  scripts/util.py
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/release-github.yml
  noxfile.py
  scripts/get-release-notes.py
  scripts/util.py
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  scripts/util.py
Due: none

chore: update demo to the latest cookiecutter-robust-python
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  noxfile.py
  scripts/util.py
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  noxfile.py
  scripts/setup-release.py
Due: none

Revert "chore: update demo to the latest cookiecutter-robust-python"
  .cookiecutter.json
  .cruft.json
  noxfile.py
  scripts/setup-release.py
Due: none

fix: resolve conflicts
  noxfile.py
Due: none

fix: resolve conflicts
  scripts/util.py
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  scripts/setup-release.py
Due: none

chore: update demo to the latest cookiecutter-robust-python
  body.md
Due: none

Revert "chore: update demo to the latest cookiecutter-robust-python"
  .cookiecutter.json
  .cruft.json
  scripts/setup-release.py
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .gitignore
  scripts/setup-release.py
Due: none

Revert "chore: update demo to the latest cookiecutter-robust-python"
  body.md
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release-python.yml
  scripts/get-release-notes.py
  scripts/util.py
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/prepare-release.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/prepare-release.yml
  scripts/get-release-notes.py
  scripts/util.py
Due: check-yaml
