Repository 56kyle/robust-python-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# See https://pre-commit.com/
default_stages: [pre-commit]

repos:
    - repo: local
      hooks:
          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system
          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]
          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]
          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [pre-commit, pre-push, manual]
          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [pre-commit, pre-push, manual]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.0
      hooks:
          - id: ruff-format
            args: [--config=.ruff.toml]

          - id: ruff-check
            args: [--fix, --diff, --exit-non-zero-on-fix, --config=.ruff.toml]

    - repo: https://github.com/doublify/pre-commit-rust
      rev: v1.0
      hooks:
          - id: fmt
          - id: clippy
            args: ["--all-features", "--", "--write"]
          - id: cargo-check

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier

    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.8.3
      hooks:
          - id: commitizen
          - id: commitizen-branch
            stages: [commit-msg]

chore: remove accidentally committed ignored files
  build/lib/robust_python_demo/__init__.py
  build/lib/robust_python_demo/__main__.py
  build/lib/robust_python_demo/py.typed
Due: none

bump: version 0.15.0 → 0.16.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .readthedocs.yml
Due: check-yaml

bump: version 0.16.0 → 0.17.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  docs/changelog.md
  docs/contributing.md
  docs/index.md
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  docs/conf.py
  docs/usage.md
Due: none

bump: version 0.17.0 → 0.18.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  uv.lock
Due: none

Revert "chore: update demo to the latest cookiecutter-robust-python"
  uv.lock
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .readthedocs.yml
  docs/requirements.txt
  scripts/setup-release.py
Due: check-yaml

bump: version 0.18.0 → 0.19.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .readthedocs.yml
  CONTRIBUTING.md
  docs/codeofconduct.md
  docs/contributing.md
Due: check-yaml

bump: version 0.19.0 → 0.20.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  docs/codeofconduct.md
  docs/contributing.md
  docs/index.md
Due: none

bump: version 0.20.0 → 0.21.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/lint-python.yml
  .github/workflows/security-python.yml
  CONTRIBUTING.md
  README.md
  noxfile.py
  scripts/setup-remote.py
Due: check-yaml

bump: version 0.21.0 → 0.22.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .gitlab-ci.yml
  bitbucket-pipelines.yml
Due: check-yaml

Revert "chore: update demo to the latest cookiecutter-robust-python"
  .cookiecutter.json
  .cruft.json
  .gitlab-ci.yml
  bitbucket-pipelines.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  bitbucket-pipelines.yml
Due: check-yaml

Revert "chore: update demo to the latest cookiecutter-robust-python"
  .cookiecutter.json
  .cruft.json
  bitbucket-pipelines.yml
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
Due: none

bump: version 0.22.0 → 0.23.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/release-python.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  noxfile.py
  pyrightconfig.json
  scripts/get-release-notes.py
  scripts/setup-release.py
  scripts/setup-remote.py
  scripts/util.py
Due: check-yaml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  .github/workflows/build-docs.yml
  noxfile.py
Due: check-yaml

bump: version 0.23.0 → 0.24.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  scripts/setup-remote.py
Due: none

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  pyproject.toml
Due: check-toml

chore: update demo to the latest cookiecutter-robust-python
  .cookiecutter.json
  .cruft.json
  noxfile.py
Due: none

bump: version 0.24.0 → 0.25.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml
